<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>filtered from</title>
    <link rel="stylesheet" href="/style.css">

</head>
<body>
    <form action="/search" method="post">
        <p>check the box for and</p>
        <p>unchecked for or</p>
        <input type="checkbox" name="andor" id="andor">
        <input type="search" name="queryString" placeholder="search here">
        <button type="submit">Search</button>
    </form>

  
        <%- include('partials/searchpagination') %>
    <br>

    <table>
            <tr>
                <th> 
                    <a href="/search/?sort=user_id&order=asc"> ↑ </a>
                    <a href="/search/?sort=user_id&order=desc"> ↓ </a>    
                    ID  
                </th>
                <th>
                    <a href="/search/?sort=first_name&order=asc">up</a>
                    <a href="/search/?sort=first_name&order=desc">down</a>
                    first name
                </th>
                <th>
                    <a href="/search/?sort=last_name&order=asc">up</a>
                    <a href="/search/?sort=last_name&order=desc">down</a>
                    last name
                </th>

                <th>phone</th>
                <th>email</th>
                <th>address</th>
                <th>
                    <a href="/search/?sort=city&order=asc">up</a>
                    <a href="/search/?sort=city&order=desc">down</a>
                    city
                </th>

                <th>
                    <a href="/search/?sort=gender&order=asc">up</a>
                    <a href="/search/?sort=gender&order=desc">down</a>
                    gender
                </th>
            </tr>

            <% data10.forEach( data=> { %>
                <tr>
                    <td>
                        <%= data.user_id %>
                    </td>
                    <td>
                        <%= data.first_name %>
                    </td>
                    <td>
                        <%= data.last_name %>
                    </td>
                    <td>
                        <%= data.phone_no %>
                    </td>
                    <td>
                        <%= data.email %>
                    </td>
                    <td>
                        <%= data.address %>
                    </td>
                    <td>
                        <%= data.city %>
                    </td>

                    <td>
                        <%= data.gender %>
                    </td>
                </tr>

                <% })%>
        </table>
        <br>
   
        <%- include('partials/searchpagination') %>
   


</body>
</html>