<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>filtered from</title>
    <link rel="stylesheet" href="/style.css">

</head>
<body>
    <table>
            <tr>
                <th> 
                    <a href="/?page=1&sort=user_id&order=asc"> ↑ </a>
                    <a href="/?page=1&sort=user_id&order=desc">↓</a>
                    ID  
                </th>
                <th>
                    <a href="/?sort=first_name&order=asc">up</a>
                    <a href="/?sort=first_name&order=desc">down</a>
                    first name
                </th>
                <th>
                    <a href="/?sort=last_name&order=asc">up</a>
                    <a href="/?sort=last_name&order=desc">down</a>
                    last name
                </th>

                <th>phone</th>
                <th>email</th>
                <th>address</th>
                <th>
                    <a href="/?sort=city&order=asc">up</a>
                    <a href="/?sort=city&order=desc">down</a>
                    city
                </th>

                <th>
                    <a href="/?sort=gender&order=asc">up</a>
                    <a href="/?sort=gender&order=desc">down</a>
                    gender
                </th>
            </tr>

            <% dbdata.forEach( data=> { %>
                <tr>
                    <td>
                        <%= data.user_id %>
                    </td>
                    <td>
                        <%= data.first_name %>
                    </td>
                    <td>
                        <%= data.last_name %>
                    </td>
                    <td>
                        <%= data.phone_no %>
                    </td>
                    <td>
                        <%= data.email %>
                    </td>
                    <td>
                        <%= data.address %>
                    </td>
                    <td>
                        <%= data.city %>
                    </td>

                    <td>
                        <%= data.gender %>
                    </td>
                </tr>

                <% })%>
        </table>
</body>
</html>