<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>users pagination</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <h2>users list</h2>

    <form action="/search" method="post">
        <p>check the box for and</p>
        <p>unchecked for or</p>
        <input type="checkbox" name="andor" id="andor">
        <input type="search" name="queryString" placeholder="search here">
        <button type="submit">Search</button>
    </form>

    <%- include('partials/pagination') %>
        <br>  
        <table>
            <tr>
                <th> <a href="/?page=1&sort=user_id&order=asc"> ↑ </a>
                    <a href="/?page=1&sort=user_id&order=desc">↓</a>
                    ID  
                </th>
                <th>
                    <a href="/?sort=first_name&order=asc">up</a>
                    <a href="/?sort=first_name&order=desc">down</a>
                    first name
                </th>
                <th>
                    <a href="/?sort=last_name&order=asc">up</a>
                    <a href="/?sort=last_name&order=desc">down</a>
                    last name
                </th>

                <th>phone</th>
                <th>email</th>
                <th>address</th>
                <th>
                    <a href="/?sort=city&order=asc">up</a>
                    <a href="/?sort=city&order=desc">down</a>
                    city
                </th>

                <th>
                    <a href="/?sort=gender&order=asc">up</a>
                    <a href="/?sort=gender&order=desc">down</a>
                    gender
                </th>
            </tr>

            <% users.forEach( user=> { %>
                <tr>
                    <td>
                        <%= user.user_id %>
                    </td>
                    <td>
                        <%= user.first_name %>
                    </td>
                    <td>
                        <%= user.last_name %>
                    </td>
                    <td>
                        <%= user.phone_no %>
                    </td>
                    <td>
                        <%= user.email %>
                    </td>
                    <td>
                        <%= user.address %>
                    </td>
                    <td>
                        <%= user.city %>
                    </td>

                    <td>
                        <%= user.gender %>
                    </td>
                </tr>

                <% })%>
        </table>

        <%- include('partials/pagination') %>
</body>

</html>